body
{
    font-family:  "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}
.content
{
    
    padding:auto;
    margin: auto;
    text-align: left;
    width: 900px;
    display: block;
    background: none;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.header
{
	display:block;
	width:100%;
	height: 100px;
}
.logo
{
	/*background: url("../images/logo.png") no-repeat;*/
	width:243px;
	height:61px;
	display:inline-block;
	float: left;
}
.text-logo
{
	background: url("../images/textlogo.png") no-repeat;
	width:255px;
	height:61px;
	display:inline-block;
	margin-left:50px;
	 float: left;
}
.search-bar
{
	display: block;
	text-align: right;
	float:right;
	width:100%;
	margin-bottom: 10px;
}

.search-bar input
{
	background: #eee;
	border:0;
	font-style:italic;
	padding-left:5px;
}
.success
{
    background: url("../images/success.gif") no-repeat #d8f18e;
    background-position: center left;
    border-top:1px solid #95c800;
    border-bottom:1px solid #95c800;
    width:auto;
    display: block;
    line-height: 25px;
    padding-left: 25px;
    color:#333;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
}
.error
{
    background: url("../images/error.gif") no-repeat #f18976;
    background-position: center left;
    border-top:1px solid #b15050;
    border-bottom:1px solid #b15050;
    width:auto;
    display: block;
    line-height: 25px;
    padding-left: 25px;
    color:#333;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
}
li.success
{
    background: url("../images/success.gif") no-repeat #d8f18e;
    background-position: center left;
    border-top:1px solid #95c800;
    border-bottom:1px solid #95c800;
    width:auto;
    display: block;
    line-height: 25px;
    padding-left: 25px;
    color:#333;
    font-weight: bold;
}
li.error
{
    background: url("../images/error.gif") no-repeat #f18976;
    background-position: center left;
    border-top:1px solid #b15050;
    border-bottom:1px solid #b15050;
    width:auto;
    display: block;
    line-height: 25px;
    padding-left: 25px;
    color:#333;
    font-weight: bold;
}
.error-message
{
    display: block;
    margin-top:8px;
    width:auto;
    padding: 3px;
    font-style: italic;
}
input.error,textarea.error {
    border: 1px dotted red;
}
label.error {
    color: red;
    font-style: italic;
    display: block;
}
.top-menu
{
    display: inline-block;
    float:right;
}
.menu
{
    text-decoration: none;
    color: #d8f18e;
}
.menu:hover
{
    text-decoration: none;
    color: #95c800;
}
.post-wrapper
{
    vertical-align: top;
    display:inline-block;
    width: 215px;
    margin-bottom: 8px;
}
.post-image img
{
    float:left;
    width:80px;
    height:80px;

}
.post-image
{
    vertical-align: top;
    display:inline-block;
    padding-right: 3px;
    float: left;
    width: 80px;
}
.title
{
    display: block;
    font-style: italic;
    color:#8F8F8F;
}
.post-title
{
    display:block;
    font-weight: bold;
    margin-bottom: 3px;
}
.post-desc
{
    display:block;
    color: #999999;
}
.post-link
{
    font-weight: bold;
    display:block;
    vertical-align: bottom;
}
a.post-links
{
    font-weight: bold;
    font-size:12px;
    color:#36cf7e;
    text-decoration: none;
    padding-left: 15px;
    background: url("../images/read-more.png") no-repeat;
    background-position: left center;
}
.post
{
    margin-bottom: 5px;
    padding-bottom: 10px;
    display: block;
    width:300px;
}
.post-date
{
    font-style: italic;
    color:#8F8F8F;
}
.youtube-posts
{
    display:block;
    margin-top: 10px;
}
.video-post
{
    width:210px;
    height:149px;
    display:inline-block;
    float: left;
    margin-right:8px;
}
.video-post-last
{
    width:210px;
    height:149px;
    display:inline-block;
    float: left;

}
.video-title
{
    font-weight: bold;
    font-size: 12px;
    color:#000;
    display: block;
}
.youtube-title
{
    display: block;
    background: #f86900;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 5px;
    width: 250px;

}
.post-cell
{
    border-bottom: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    padding: 5px;
}
.post-cell-last
{
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}
.flickr-posts
{
    display: block;
    margin-top: 10px;
}
.flickr-title
{
    display: block;
    background: #0063dc;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 5px;
    width: 250px;

}
.flickr-img
{
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.pagination
{
    display: block;
    font-size:14px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.pagination a
{
    color:#36CF7E;
    text-decoration: none;
}
.pagination .current
{
    color:#F86900;
}
.pagination .disabled
{
    color:#ccc;
}

.logged-user
{
    display: block;
    text-align: right;
    float: right;
}
ul.user-menu
{
    list-style: none;
    display: inline-block;
}
ul.user-menu li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}